{
  "Application Options" : 
  {
    "location" : "../data/data_03_02_2022/"
  },
  "Capture Options" : 
  {
    "frameInterval_us" : 1000,
    "nFrames" : 1024,
    "prefix" : "capture_",
    "saveFrames" : true,
    "saveOnClick" : true,
    "suffix" : "%Y%m%d.%H%M%S",
    "suffixOption" : 0,
    "wavelength_nm" : 632.99102783203125
  },
  "Connection Options" : 
  {
    "address" : "tcp://127.0.0.1",
    "port" : 5555
  },
  "Imager Options" : 
  {
    "CameraInfo" : 
    {
      "fileName" : "/dev/fliusb0",
      "model" : "MicroLine ICX694",
      "name" : "MicroLine ICX694"
    },
    "Exposure" : 
    {
      "Auto" : false,
      "Time (us)" : 1
    },
    "FrameFormat" : "GRAY16",
    "FrameSize" : 
    {
      "height" : 2224,
      "width" : 2840
    },
    "Masks" : 
    {
      "enable" : true,
      "shapes" : 
      [
        {
          "center" : 
          {
            "x" : 1020.1803588867188,
            "y" : 1076.9595947265625
          },
          "clip" : "Out",
          "label" : "circle##circle_ImGuiShape",
          "points" : 
          [
            {
              "x" : 1021.9192504882812,
              "y" : 1040.0684814453125
            }
          ],
          "type" : "Circle"
        }
      ]
    },
    "ROI" : 
    {
      "Max" : 
      {
        "x" : 1087,
        "y" : 1145
      },
      "Min" : 
      {
        "x" : 947,
        "y" : 1005
      },
      "x" : true,
      "y" : true
    },
    "Set Temperature (c)" : -30
  }
}